From: {{ fullname }} <{{ email }}>
To: submit@bugs.debian.org
Subject: {{ package }}: FTBFS on armhf: {{ summary }}

Source: {{ package }}
Version: {{ version }}
Severity: serious
Justification: FTBFS
Tags: trixie sid ftbfs
User: lucas@debian.org
Usertags: ftbfs-{{ date_without_slashes }} ftbfs-trixie

Hi,

During a rebuild of all packages in sid, this package failed to build
on armhf.

This package currently has binary packages on armhf, so this is a regression.
Also, there are no known issues on amd64 or arm64 according to recent (a couple
days ago) rebuilds.

The rebuild was done using an armhf chroot on an AWS "m6g" instance (Graviton2
CPU).

Relevant part (hopefully):
{% for line in extract %}> {{ line }}
{% endfor %}

The full build log is available from:
http://qa-logs.debian.net/{{ date }}/{{ filename }}

All bugs filed during this archive rebuild are listed at:
https://bugs.debian.org/cgi-bin/pkgreport.cgi?tag=ftbfs-{{ date_without_slashes }};users={{ email }}
or:
https://udd.debian.org/bugs/?release=na&merged=ign&fnewerval=7&flastmodval=7&fusertag=only&fusertagtag=ftbfs-{{ date_without_slashes }}&fusertaguser={{ email }}&allbugs=1&cseverity=1&ctags=1&caffected=1#results

A list of current common problems and possible solutions is available at
http://wiki.debian.org/qa.debian.org/FTBFS . You're welcome to contribute!

If you reassign this bug to another package, please mark it as 'affects'-ing
this package. See https://www.debian.org/Bugs/server-control#affects

If you fail to reproduce this, please provide a build log and diff it with mine
so that we can identify if something relevant changed in the meantime.
